<% content_for :title, "User skills" %>

<p style="color: green"><%= notice %></p>

<h1>Skills</h1>

<div id="skills">
  <% @skills.each do |skill| %>
    <%= render skill %>
    <p>
      <%= link_to "Show this skill", user_skill_path(id: skill.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New skill", new_user_skill_path %>