<!-- Remove the container if you want to extend the Footer to full width. -->
<footer class="text-center" style="background-color: grey;">

  <!-- Copyright -->
  <div class="text-center text-white p-3">
    © 2024 Copyright:
    <a class="text-white" href="https://infotech.works/">infotech.works</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- End of .container -->